       <aside class="sidebar" id="sidebar">
           <div class="brand"><i class="fas fa-smile"></i> <span style="font-style: italic; font-weight: 600;">AdminLTE
                   4</span></div>
           <ul class="sidebar_item">
               <li><a href="/order_admin">
                       <div class="menu-item"><i class="fas fa-shopping-bag"></i> Đơn hàng</div>
                   </a></li>
               <li><a href="/booking_admin">
                       <div class="menu-item"><i class="fas fa-clipboard-list"></i> Đặt bàn</div>
                   </a></li>
               <li><a href="/consultant_admin">
                       <div class="menu-item"><i class="fas fa-comment-dots"></i> Tư vấn</div>
                   </a></li>
               <li><a href="/contact_admin">
                       <div class="menu-item"><i class="fas fa-phone"></i> Liên hệ</div>
                   </a></li>
               <li><a href="/evaluate_admin">
                       <div class="menu-item"><i class="fa-solid fa-comment"></i> Đánh giá</div>
                   </a></li>
               <li><a href="/bill_admin">
                       <div class="menu-item"> <i class="fa-solid fa-file-invoice-dollar"></i> Hóa đơn</div>
                   </a></li>
               <li><a href="/revenue_admin">
                       <div class="menu-item"><i class="fa-solid fa-chart-simple"></i> Doanh thu</div>
                   </a></li>
               <li class="has-submenu">
                   <a href="#" class="submenu-toggle">
                       <div class="menu-item"><i class="fas fa-utensils"></i> Món ăn</div><i class="fas fa-angle-left"
                           style="margin-left:auto"></i>
                   </a>
                   <ul class="submenu">
                       <li><a href="/dish_admin">
                               <div class="menu-item"> Tất cả món ăn</div>
                           </a></li>
                       <li><a href="/dish2_admin">
                               <div class="menu-item"> Danh mục</div>
                           </a></li>
                       <li><a href="/dish3_admin">
                               <div class="menu-item"> Thương hiệu</div>
                           </a></li>
                   </ul>
               </li>
               <li class="has-submenu">
                   <a href="#" class="submenu-toggle">
                       <div class="menu-item"><i class="fas fa-newspaper"></i> Bài viết</div><i
                           class="fas fa-angle-left" style="margin-left:auto"></i>
                   </a>
                   <ul class="submenu">
                       <li><a href="/article_adminadmin">
                               <div class="menu-item"> Tất cả bài viết</div>
                           </a></li>
                       <li><a href="/theme_admin">
                               <div class="menu-item"> Chủ đề</div>
                           </a></li>
                   </ul>
               </li>
               <li class="has-submenu">
                   <a href="#" class="submenu-toggle">
                       <div class="menu-item"><i class="fas fa-warehouse"></i> Quản lý kho</div><i
                           class="fas fa-angle-left" style="margin-left:auto"></i>
                   </a>
                   <ul class="submenu">
                       <li><a href="/history_storage">
                               <div class="menu-item"> Nhập xuất kho</div>
                           </a></li>
                       <li><a href="/storage1_admin">
                               <div class="menu-item"> Thực phẩm đông lạnh</div>
                           </a></li>
                       <li><a href="/storage2_admin">
                               <div class="menu-item"> Đồ tươi</div>
                           </a></li>
                       <li><a href="/storage3_admin">
                               <div class="menu-item"> Pha chế</div>
                           </a></li>
                       <li><a href="/storage4_admin">
                               <div class="menu-item"> Đồ khô</div>
                           </a></li>
                   </ul>
               </li>
               <li class="has-submenu">
                   <a href="#" class="submenu-toggle">
                       <div class="menu-item"><i class="fas fa-palette"></i> Giao diện</div><i class="fas fa-angle-left"
                           style="margin-left:auto"></i>
                   </a>
                   <ul class="submenu">
                       <li><a href="/menu_admin">
                               <div class="menu-item"> Menu</div>
                           </a></li>
                       <li><a href="/banner_admin">
                               <div class="menu-item"> Banner</div>
                           </a></li>
                       <li><a href="/library_admin">
                               <div class="menu-item"> Thư viện ảnh</div>
                           </a></li>
                   </ul>
               </li>
               <li class="has-submenu">
                   <a href="#" class="submenu-toggle">
                       <div class="menu-item"><i class="fas fa-users"></i> Thành Viên</div><i class="fas fa-angle-left"
                           style="margin-left:auto"></i>
                   </a>
                   <ul class="submenu">
                       <li><a href="/member_admin">
                               <div class="menu-item"> Tài khoản nội bộ</div>
                           </a></li>
                       <li><a href="/customer_admin">
                               <div class="menu-item"> Tài khoản Khách hàng</div>
                           </a></li>
                       <li><a href="/staff_admin">
                               <div class="menu-item"> Nhân viên</div>
                           </a></li>
                   </ul>
               </li>
           </ul>
       </aside>