/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 1, 2025, 8:21:40 AM
    Author     : ASUS
*/
.container {
    background: #fff;
    border-radius: 6px;
    overflow-x: auto;
    margin: 0 5px;
    border: solid 1px rgba(0,0,0,0.5);
}

.filter-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    border-bottom: solid 1px rgba(0,0,0,0.5);
    padding: 12px;
}
.filter-bar p{
    margin-top: 8px;
}
.filter-bar input,
.filter-bar select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-bar .btn-search {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.filter-bar .btn-add {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
}

.filter-bar .btn-trash {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    
}
.table{
    padding: 17px;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

td img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.label-new {
    display: inline-block;
    background-color: #28a745;
    color: white;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 12px;
}

.actions button {
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-status {
    background-color: #28a745;
}
.btn-view   {
    background-color: #17a2b8;
}
.btn-add-admin{
     background-color: #ffc107;
        border: none;
        color: black;
        padding: 6px 12px;
        border-radius: 5px;
        font-weight: bold;
}
.btn-delete {
    background-color: #dc3545;
}

.actions i {
    font-size: 14px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}
.btn-trash{
     margin-left: auto;
}