<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CssTotal/chat-fixed-icons.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"/>
    </head>
    <body>
       <div class="chat-fixed-icons">

            <div class="chat-icon message-icon">
                <a class="chat" href="https://www.facebook.com/giacs.aos.121" target="target">
                    <i class="fa-brands fa-facebook-messenger"></i>
                    <div class="chat-tooltip">Chuyên gia tư vấn đang sẵn sàng</div>
                </a>

            </div>

            <div class="chat-icon instagram-icon">
                <a class="chat" href="https://www.instagram.com/foody.vn_official/" target="target">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>

    </body>
</html>
