<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>html Page</title>
    <link rel="stylesheet" href="../static/CssTotal/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <script src="../static/CssTotal/js.js"></script>
    <link rel="stylesheet" href="../static/CssTotal/standard.css" />
    <script src="../static/CssTotal/standard.js">
    </script>
        <style>
        .food-section h2 {
            margin-top: 20px;
        }

        .register-form {
            width: 100%;
            height: 500px;
            background-image: url(../static/avatars/media/backfood.jpg);
            object-fit: cover;
            background-size: cover;
            background-position: center;
            padding: 30px;
        }
        .navbar_right {
            margin-top: -3px;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>


    <header class="header">
        <img class="logo" src="../static/avatars/media/logo2.png" alt="logo" />
        <div class="navbar">
            <div class="navbar_item">
                <a href="/trangchu.html">Trang chủ</a>
            </div>
            <div class="navbar_item">
                <a href="refarral.html">Giới thiệu</a>
            </div>
            <div class="navbar_item">
                <a href="Menu.html">Thực đơn</a>
            </div>
            <div class="navbar_item">
                <a href="article.html">Bài viết</a>
            </div>
            <div class="navbar_item">
                <a href="gallery.html">Hình ảnh</a>
            </div>
            <div class="navbar_item">
                <a href="contact.html">Liên hệ</a>
            </div>
        </div>
        <div class="navbar_right">
            <div class="navbar_item navbar_item_right">
                <a href="reserve.html">
                    <i class="fa-solid fa-calendar-check navbar_icon"></i>
                    Đặt bàn</a>
            </div>
            

            <div class="navbar_item navbar_item_right">
                <a href="/login">    
                    <i class="fa-solid fa-right-to-bracket navbar_icon"></i>
                    Đăng Nhập</a>
            </div>


            <div class="navbar_item navbar_item_right">
                <a href="/register">    
                    <i class="fa-solid fa-user-plus navbar_icon"></i>
                    Đăng Ký</a>
            </div>

            <div class="navbar_item navbar_item_right">
                <a href="Cart.html">    
                    <i class="fa-solid fa-cart-shopping navbar_icon"></i>
                    Giỏ hàng</a>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../static/avatars/media/1.jpg" alt="Ảnh 1"></div>
                <div class="swiper-slide"><img src="../static/avatars/media/5.jpg" alt="Ảnh 2"></div>
                <div class="swiper-slide"><img src="../static/avatars/media/1.jpg" alt="Ảnh 3"></div>
                <div class="swiper-slide"><img src="../static/avatars/media/1.jpg" alt="Ảnh 4"></div>
                <div class="swiper-slide"><img src="../static/avatars/media/5.jpg" alt="Ảnh 5"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="service-promises">
        <div class="promise-item">
            <div class="promise-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="promise-text">
                <h4>Miễn phí vận chuyển</h4>
                <p>Cho đơn hàng từ 500k</p>
            </div>
        </div>
        <div class="promise-item">
            <div class="promise-icon">
                <i class="fa-solid fa-hand-holding-heart"></i>
            </div>
            <div class="promise-text">
                <h4>Bảo hiểm món ăn</h4>
                <p>Đảm chất lượng đồ ăn</p>
            </div>
        </div>
        <div class="promise-item">
            <div class="promise-icon">
                <i class="fa-solid fa-qrcode"></i>
            </div>
            <div class="promise-text">
                <h4>Thanh toán COD</h4>
                <p>Hoặc thanh toán quét mã QR</p>
            </div>
        </div>
        <div class="promise-item">
            <div class="promise-icon">
                <i class="fa-solid fa-shield-halved"></i>
            </div>
            <div class="promise-text">
                <h4>Bảo mật thông tin</h4>
                <p>Đảm bảo thông tin khách hàng</p>
            </div>
        </div>
    </div>
    <div class="food-suggestion">
        <div class="food-title">Ăn Gì Hôm Nay</div>
        <input type="text" class="food-input-box" placeholder="Tìm kiếm">
        <div class="food-options">
            <button class="food-option-btn">Tùy chọn bữa hôm nay</button>
            <button class="food-option-btn">Cơm</button>
            <button class="food-option-btn">Salad rau muống sợi cam</button>
            <button class="food-option-btn">Phở cuốn</button>
            <button class="food-option-btn">Gỏi táo hoa chuối</button>
            <button class="food-option-btn">Gà cuốn lá dứa</button>
            <button class="food-option-btn">Hủ tiếu cháo bò</button>
            <button class="food-option-btn">Cơm chiên chả lá lìm</button>
        </div>
    </div>
    <div class="intro-standard">
        <div class="standard-text">

            <h3>TheRiceBowlRestaurant</h3>
            <p>Thưởng thức ẩm thực đỉnh cao tại nhà hàng của chúng tôi luôn đặt cái tâm trong công việc, chúng tôi luôn
                sẵn sàng phục vụ, chúng tôi luôn sẵn sàng phục vụ các bạn.Tiêu chí nhà hàng được chúng tôi để tâm</p>
            <div class="grid-container">
                <div class="grid-item">
                    <i class="fas fa-user"></i>
                    <p>Đầu bếp chuyên nghiệp</p>
                </div>
                <div class="grid-item">
                    <i class="fas fa-utensils"></i>
                    <p>Ăn uống sinh thái xanh</p>
                </div>
                <div class="grid-item">
                    <i class="fas fa-utensils"></i>
                    <p>Thực đơn phong phú</p>
                </div>
                <div class="grid-item">
                    <i class="fas fa-user-friends"></i>
                    <p>Khách hàng lưu ý đổi</p>
                </div>
            </div>
        </div>
        <div class="standard-img">
            <img src="../static/avatars/media/chef2.jpg" alt="alt" />
        </div>
    </div>
    <div class="food-section">
        <h2>Một số món ăn phổ biến theo thực đơn của nhà hàng</h2>
        <div class="filter-buttons">
            <button class="filter-btn active" data-category="all">Khái vị</button>
            <button class="filter-btn" data-category="main">Món chính</button>
            <button class="filter-btn" data-category="soup">Canh - Trộn - Súp</button>
            <button class="filter-btn" data-category="dessert">Món chè</button>
            <button class="filter-btn" data-category="drink">Bánh tráng miệng</button>
            <button class="filter-btn" data-category="other">Đồ uống</button>
        </div>
        <div class="food-grid" id="foodGrid">

        </div>
    </div>
    <div class="new-dishes-section">
        <h2>Những món ăn mới</h2>
        <div class="new-dishes-scroll" id="newDishesScroll">
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Salad rau muống sợi cam">
                <p>-24% 68.000 VND <span>89.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Gỏi táo hoa chuối">
                <p>-11% 120.000 VND <span>135.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Sụn gà xóc muối Tứ Ninh">
                <p>-18% 135.000 VND <span>165.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Nem lụi nướng mỡ">
                <p>-12% 158.000 VND <span>179.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Mì spaghetti sốt kem nấm">
                <p>-29% 99.000 VND <span>140.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Cơm chiên hải sản">
                <p>-25% 90.000 VND <span>120.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Salad rau muống sợi cam">
                <p>-24% 68.000 VND <span>89.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Gỏi táo hoa chuối">
                <p>-11% 120.000 VND <span>135.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Sụn gà xóc muối Tứ Ninh">
                <p>-18% 135.000 VND <span>165.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Nem lụi nướng mỡ">
                <p>-12% 158.000 VND <span>179.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Mì spaghetti sốt kem nấm">
                <p>-29% 99.000 VND <span>140.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
            <div class="food-item">
                <img src="../static/avatars/media/1.jpg" alt="Cơm chiên hải sản">
                <p>-25% 90.000 VND <span>120.000 VND</span></p>
                <button class="detail-btn">Xem chi tiết</button>
            </div>
        </div>
    </div>
    <div class="register-form">
        <h3>Đặt bàn</h3>
        <h2>Lên lịch đặt bàn</h2>
        <div id="form-container">
            <div class="form-group">
                <input type="text" placeholder="Tên của bạn">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email của bạn">
            </div>
            <div class="form-group">
                <input type="tel" placeholder="Số điện thoại">
            </div>
            <div class="form-group">
                <input type="number" placeholder="Số người">
            </div>
            <div class="date-group">
                <input type="date">
                <input type="time">
            </div>
            <div class="notes-group">
                <textarea placeholder="Ghi chú"></textarea>
            </div>
            <button class="button_form">Đặt bàn ngay</button>
            <div class="footer-text">
                Khách đặt trước 10h, liên hoan vui lòng gọi trước: 0987265336
            </div>
        </div>
    </div>
    <div class="referal-service">
        <h3>VỀ DỊCH VỤ</h3>
        <h2>Dịch vụ tốt nhất của chúng tôi</h2>
        <div class="referal-container">
            <div class="card">
                <h3>Đầu bếp hàng đầu</h3>
                <p>Đi đầu về lĩnh vực đầu bếp, các đầu bếp của chúng tôi luôn tận tâm để tạo ra những món ăn chất lượng.
                </p>
            </div>
            <div class="card">
                <h3>Chất lượng thực phẩm</h3>
                <p>Tất cả các loại thực phẩm được chọn đều được chúng tôi kiểm tra kỹ càng để đảm bảo chất lượng thực
                    phẩm.</p>
            </div>
            <div class="card">
                <h3>Không gian nhà hàng</h3>
                <p>Không chỉ tạo nên không khí thoải mái, Nhà Restaurant sẽ luôn là sự lựa chọn hàng đầu của bạn.</p>
            </div>
        </div>

    </div>
    <div class="latest-news-section">
        <h2>Bản tin tức mới nhất</h2>
        <div class="news-scroll" id="newsScroll">
            <div class="news-item" data-article-id="1">
                <img src="../static/avatars/media/1.jpg" alt="Món ăn 1">
                <p class="date">18:04, 19-06-2024</p>
                <p>Mách bạn cách nấu món ăn ngon</p>
            </div>
            <div class="news-item" data-article-id="2">
                <img src="../static/avatars/media/1.jpg" alt="Món ăn 2">
                <p class="date">08:44, 29-12-2024</p>
                <p>Tuyển tập món xào ngon, tiết kiệm thời gian cho ngày cuối tuần</p>
            </div>
            <div class="news-item" data-article-id="3">
                <img src="../static/avatars/media/1.jpg" alt="Món ăn 3">
                <p class="date">09:07, 29-12-2024</p>
                <p>Hé lộ cách làm món ngon, tiết kiệm thời gian cho ngày cuối tuần</p>
            </div>
            <div class="news-item" data-article-id="4">
                <img src="../static/avatars/media/1.jpg" alt="Món ăn 4">
                <p class="date">13:55, 20-02-2025</p>
                <p>1001 món ngon ngày Tết - Gợi ý món ngon</p>
            </div>
            <div class="news-item" data-article-id="5">
                <img src="../static/avatars/media/1.jpg" alt="Món ăn 5">
                <p class="date">13:59, 21-06-2025</p>
                <p>Cách làm món ngon</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h3>Nhà hàng Lẩu 3 Tay anh BÌNH TÂM LINH gây dựng</h3>
                <p>Nhà hàng chuyên về các món lẩu ngon nhất tại Hà Nội, chuyên về các món ăn chuẩn hương vị thuần Việt.
                </p>
                <p>Thực phẩm tươi sống là yếu tố hàng đầu trong việc chế biến món ăn, Quy Khắc chắc chắn sẽ làm hài lòng
                    quý khách với những món ăn đậm đà hương vị.</p>
            </div>
            <div class="footer-right">
                <h3>Thông tin liên hệ</h3>
                <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: Lĩnh Nam, Hà Nội</p>
                <p><i class="fas fa-phone"></i> Điện thoại: 0999999999</p>
                <p><i class="fas fa-envelope"></i> Email: dabc@gmail.com</p>
                <button class="footer-book-now">Đặt bàn ngay</button>
                <div class="footer-social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="tel:0999999999"><i class="fas fa-phone"></i></a>
                    <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </footer>


   

<script>
  const userEmail = "{{ session.get('user_email') }}";

  document.addEventListener("DOMContentLoaded", function () {
    // Nếu user chưa đăng nhập
    if (!userEmail || userEmail === "None") {
      // Tìm tất cả thẻ <a>
      const allLinks = document.querySelectorAll("a");

      allLinks.forEach(link => {
        // Nếu link không phải nút Đăng nhập, Đăng ký
        if (
          !link.href.includes("/login") &&
          !link.href.includes("/register")
        ) {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            alert("Bạn chưa đăng nhập. Vui lòng đăng nhập để tiếp tục!");
            window.location.href = "/login";  // Chuyển sang trang login luôn
          });
        }
      });

      // Nếu có nút submit khác, ví dụ nút Đặt bàn
      const bookBtn = document.querySelector(".button_form");
      if (bookBtn) {
        bookBtn.addEventListener("click", function (e) {
          e.preventDefault();
          alert("Bạn chưa đăng nhập. Vui lòng đăng nhập để tiếp tục!");
          window.location.href = "/login";
        });
      }
    }
  });
</script>

</body>

</html>