
        <aside class="sidebar" id="sidebar">
            <div class="brand"><i class="fas fa-smile"></i> <span style="font-style: italic; font-weight: 600;">Staff</span></div>
            <ul>
                <li><a href="staff_order.html"><div class="menu-item"><i class="fa-solid fa-cart-plus"></i> Chọn món</div></a></li>
                <li><a href="order_staff.html"><div class="menu-item"><i class="fas fa-shopping-bag"></i> Đơn hàng</div></a></li>
                <li><a href="booking_staff.html"><div class="menu-item"><i class="fas fa-clipboard-list"></i> Đặt bàn</div></a></li>
                <li><a href="consultant_staff.html"><div class="menu-item"><i class="fas fa-comment-dots"></i> Tư vấn</div></a></li>
                <li><a href="contact_staff.html"><div class="menu-item"><i class="fas fa-phone"></i> Liên hệ</div></a></li>
                <li><a href="evaluate_staff.html"><div class="menu-item"><i class="fa-solid fa-comment"></i> Đánh giá</div></a></li>
                <li><a href="import_staff.html"><div class="menu-item"><i class="fa-solid fa-file-import"></i> phiếu nhập/xuất</div></a></li>
            </ul>
        </aside>
         
